################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/src/AM.Core.Algorithms.Search/bin/
/src/AM.Core.Algorithms.Search/obj/
/src/AM.Core.DataStructures/bin/
/src/AM.Core.DataStructures/obj/
/test/AM.Core.Algorithms.Tests/bin/
/test/AM.Core.Algorithms.Tests/obj/
/test/AM.Core.DatatStructures.Tests/bin/
/test/AM.Core.DatatStructures.Tests/obj/
/src/AM.Core.Algorithms.StringManipulation/bin
/src/AM.Core.Algorithms.StringManipulation/obj
/test/AM.Core.Algorithms.StringManipulation.Tests/bin
/test/AM.Core.Algorithms.StringManipulation.Tests/obj
/src/AM.Core.Algorithms.DynamicProgramming/bin
/src/AM.Core.Algorithms.DynamicProgramming/obj
/test/AM.Core.DynamicProgramming.Tests/bin
/test/AM.Core.DynamicProgramming.Tests/obj
/src/AM.Core.Algorithms.Combinatorics/bin
/src/AM.Core.Algorithms.Combinatorics/obj
/test/AM.Core.Algorithms.Combinatorics.Tests/bin
/test/AM.Core.Algorithms.Combinatorics.Tests/obj
/src/AM.Core.Algorithms.Numbers/bin
/src/AM.Core.Algorithms.Numbers/obj
/test/AM.Core.Algorithms.Numbers.Tests/obj
/test/AM.Core.Algorithms.Numbers.Tests/bin
/src/AM.Core.Algorithms.Puzzles/obj
/src/AM.Core.Algorithms.Puzzles/bin
/test/AM.Core.Algorithms.Puzzles.Tests/bin
/test/AM.Core.Algorithms.Puzzles.Tests/obj
